* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto',
    sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(15, 15, 15);
  color: white;

}

.display {
  text-align: center;
}

h1 {
  letter-spacing: 3px;
  margin-top: 0;
  font-size: 4em;
}

.create {
  color: #fe3c01;
  font-size: 3em;
  font-weight: 700;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border-style: none;
  margin-bottom: 20px;
}

.create:hover {
  background-image: linear-gradient(0deg, #ff8a00, #e52e71);
  color: rgb(255, 255, 255);
}

.pop-up {
  display: none;
  width: 500px;
  height: 600px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: linear-gradient(0deg, #201c29, #161616);
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.603);
  border: #64230f solid 1px;
}

form p {
  padding: 0;
  margin: 5px;
  font-size: 1.4em;
  font-weight: 700;
}

form input {
  width: 100%;
  margin-bottom: 50px;
  border-color: #ff9100;
  height: 35px;
  border-radius: 10px;
}
input:focus{
  border-color: #fe3c01;
  border-radius: 10px;
  height: 35px
}
p:nth-child(7) {
  text-align: center;

}

input:nth-child(8) {
  height: 30px;
  width: 200px;
  margin: 0 -50px;
  margin-bottom: 20px;
  position: relative;
  left: 38%;
  font-size: 20px;
  border-style: none;

}

.btn {
  height: 60px;
  width: 300px;
  margin: 0 -50px;
  margin-bottom: 20px;
  position: relative;
  left: 25%;
  font-size: 20px;
  border-style: none;
  font-size: 1.7em;
  font-weight: 600;
  background-image: linear-gradient(to right, #ff8a00, #e52e71);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  
}
.btn:hover{
  transition: all 0.4s;
  background-image: linear-gradient(to right, #e52e71, #ff8a00);
}

.yes {
  background: rgb(214, 196, 36);
  border-style: none;
}

.no {
  background: rgb(184, 20, 74);
  border-style: none;
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.book {
  display: grid;
  background-image: linear-gradient(0deg, #ff8a00, #e52e71);
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 2em;
  font-weight: 500;
  
}
.book button{
  height: 30px;
}
.book :nth-child(4) {
  height: 40px;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
}

.book :nth-child(5) {
  background-color: #201c29;
  border-style: none;
  color: #94a2a7;
  font-weight: 600;
  border-radius: 10px;
}
@media only screen and (max-width: 600px){
  .pop-up {
    font-size: 1em;
    width: 340px;
  }
  .btn{
    width: 250px;
  }
  input:nth-child(8) {
    height: 30px;
    width: 100px;
    margin: 0 -50px;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    font-size: 20px;
    border-style: none;

  }
  .book {
    width: 400px;
    height: 300px;
    margin: 10px;
    padding: 5px;
    font-size: 1.5em;

  }
}